/* Size of image in css */
/* img {
    width: 100px;
    height: 100px;
} */

/* Aligning images */

/* img {
    margin-left:100px ;
} */
/* img {
    float: right;
} */

/* Centering Images */
/* img {
    border: 1px solid black;
    margin: auto;
    width: 300px;
    display: block;
} */

/* Using Background images */
/* body {
    background-image: url(./assets/Panther.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: white;
} */
/* Background image repating */
/* body {
    background-image: url(./assets/Panther.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
p{
    color: white;
} */
/* Background Position */
/* body {
    background-image: url(./assets/old-car.jpg);
    background-repeat: no-repeat;
   
} */

/* Backgroud shorthand */
/* body {
    background: red url(./assets/Panther.jpg) no-repeat;
    background-size: cover;
} */

/* Gradient */

/* Linear Gradient */
/* body {
    background-image: linear-gradient(red, yellow);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    background-attachment: fixed;
} */
/* #gradient {
    height: 200px;
    background-color: red;
    background-image: linear-gradient(red, yellow, green, violet,indigo,blue,orange);
    width: 500px;
    margin: auto;
} */
/* Radial Gradient */
/* #gradient {
    height: 200px;
    background-color: red;
    background-image:radial-gradient(yellow,green,orange);
    width: 500px;
    margin: auto;
} */
/* Conic Gradient */
#gradient {
    height: 100px;
    background-color: red;
    background-image:conic-gradient(yellow,green,rgb(43, 0, 255),red,violet);
    width: 100px;
    border-radius: 200px;
    margin: auto;
    size: 400px;
}